* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto condensed', sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 300;
}

dl, ol, ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin: 0;
}

.text-primary {
  color: #ec7532 !important;
}

.text-tundora {
  color: #4a4a4a !important;
}

.fs-13 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.fs-23 {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

.fs-46 {
  font-size: 4.6rem;
  line-height: 6.5rem;
}

.section {
  padding: 5rem 0;
}

a.link-primary {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: .15rem;
}

a.link-primary:hover {
  color: #fbbd61;
  text-decoration: none;
}

a.link-primary:hover i {
  color: #fbbd61;
}

a.link-primary:visited {
  color: #fff;
  text-decoration: underline;
}

a.link-primary i {
  color: rgba(255, 255, 255, 0.3);
  min-width: 2.5rem;
}

.br-t-grey {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.heading-6 {
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: .2rem;
  margin: 0;
}

.heading-5 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: .2rem;
  margin: 0;
}

.heading-4 {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: .2rem;
  margin: 0;
}

.heading-3 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: .2rem;
  margin: 0;
}

.heading-2 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: .2rem;
  margin: 0;
}

.heading-1 {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: .2rem;
  margin: 0;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.py-3 {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.mt-3 {
  margin-top: 0.3rem !important;
}

.py-10 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mt-10 {
  margin-top: 1rem !important;
}

.py-20 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.mt-20 {
  margin-top: 2rem !important;
}

.py-50 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.mt-50 {
  margin-top: 5rem !important;
}

.letter-spacing-1 {
  letter-spacing: 0.1rem !important;
}

.letter-spacing-2 {
  letter-spacing: 0.2rem !important;
}

.letter-spacing-3 {
  letter-spacing: 0.3rem !important;
}

.footer {
  background-color: #101010;
  padding: 7.5rem 0 0;
}
