// Begin Heading
@for $heading-size from 6 through 1 {
  .heading-#{$heading-size} {
    color: $color-black;
    font-size: 1.2rem + $heading-size / 5;
    line-height: 1.8rem + $heading-size / 5;
    font-weight: 300;
    letter-spacing: .2rem;

    margin: 0;
  }
}

// Begin Font Weight
$fontWeightList: 300, 400, 500, 700;

@each $number in $fontWeightList {
  .fw-#{$number} {
    font-weight: $number !important;
  }
}
// End Font Weight

// Begin Margin & Padding
$numberList: 3, 10, 20, 50;

@each $number in $numberList {
  .py-#{$number} {
    padding-top: $number/10 + rem !important;
    padding-bottom: $number/10 + rem !important;
  }

  .mx-#{$number} {
    margin-left: $number/10 + rem !important;
    margin-right: $number/10 + rem !important;
  }

  .my-#{$number} {
    margin-top: $number/10 + rem !important;
    margin-bottom: $number/10 + rem !important;
  }

  .mt-#{$number} {
    margin-top: $number/10 + rem !important;
  }

  .mb-#{$number} {
    margin-bottom: $number/10 + rem !important;
  }
}
// End Margin & Padding

// Begin Letter Spacing
$letterList: 1, 2, 3;

@each $number in $letterList {
  .letter-spacing-#{$number} {
    letter-spacing: $number/10 + rem !important;
  }
}
// End Letter Spacing

// Begin Border
// BEGIN BORDERS //
@mixin border-default($border-color: $color-light-l04, $border-width: 1px, $radius: $border-radius-md) {
  border: $border-width solid $border-color;
  border-radius: $radius;
}

.b-r-10 {
  border-radius: 1rem;
}
// End Border
