// Begin Button
.btn {
  &.btn-icon {
    i {
      color: $color-white;
      font-size: 1.7rem;
      text-align: center;
      font-weight: 600;

    }
  }

  &.btn-primary {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
  
    padding: 1.2rem 1.4rem;
    
    background: $color-primary-linear;
    border: 0;
    border-radius: 3rem;
  
    position: relative;
  
    overflow: hidden;

    &::after {
      content: '';
      background: linear-gradient(to right,#fbbd61,#ec7532);
      display: block;
    
      width: 0;
      height: 100%;
    
      position: absolute;
      left: -10%;
      top: 0;
    
      transform: skew(30deg);
      transition: all .5s;
    }

    &:hover::after {
      width: 120%;
    }

    i, span {
      z-index: 1;
      position: relative;
    }
  }
}
// End Button