// Begin Text Color
.text-primary {
  color: $color-primary !important;
}

.text-primary-light {
  color: $color-primary-light !important;
}

.text-tundora {
  color: $color-tundora !important;
}
// End Text Color

// Begin Font Size
.fs-12 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.fs-13 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.fs-14 {
  font-size: 1.4rem;
  line-height: 2rem;
}

.fs-23 {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

.fs-46 {
  font-size: 4.6rem;
  line-height: 6.5rem;
}

.fs-52 {
  font-size: 5.2rem;
  line-height: 7.2rem;
}
// End Font Size

// Begin Section
.section {
  padding: 5rem 0;
}
// End Section

// Begin Border
.br-t-grey {
  border-top: .1rem solid $color-grey;
}
// End Border