// Begin Text Color
.text-primary {
  color: $color-primary !important;
}

.text-tundora {
  color: $color-tundora !important;
}
// End Text Color

// Begin Font Size
.fs-13 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.fs-23 {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

.fs-46 {
  font-size: 4.6rem;
  line-height: 6.5rem;
}
// End Font Size

// Begin Font Weight
.fw-medium {
  font-weight: 500;
}
// End Font Weight

// Begin Section
.section {
  padding: 5rem 0;
}
// End Section


// Begin Link 
a.link-primary {
  color: $color-white;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: .15rem;

  &:hover {
    color: $color-primary-light;
    text-decoration: none;

    i {
      color: $color-primary-light;
    }
  }

  &:visited {
    color: $color-white;
    text-decoration: underline;
  }

  i {
    color: rgba(255,255,255,.3);

    min-width: 2.5rem;
  }
}
// End Link

// Begin Border
.br-t-grey {
  border-top: .1rem solid $color-grey;
}
// End Border